.footer-text {
  font-size: 12px;
}

.body-label {
  display: block;
  text-align: right;
  font-size: 14px;
}

.body-text {
  display: block;
  text-align: right;
  font-size: 2rem;
}

.fontawesome-size {
  font-size: 5rem;
}

@media screen and (max-width: 992px) {
  .fontawesome-size {
    font-size: 3rem;
  }

  .footer-text {
    font-size: 10px;
  }

  .body-label {
    display: block;
    text-align: right;
    font-size: 12px;
  }

  .body-text {
    display: block;
    text-align: right;
    font-size: 1.5rem;
  }
}
