.image-container {
  height: 300px;
  overflow: hidden;
}

.image {
  min-height: 300px;
  width: 100%;
}

.author {
  text-align: center;
}

.name-edit,
.title-edit {
  padding-top: 10px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid black;
}

.name-view,
.title-view {
  padding-top: 10px;
  display: inline-block;
}

.edit-name-btn,
.edit-title-btn {
  position: relative;
  cursor: pointer;
  left: 25px;
}

.avatar {
  margin-top: -100px;
  width: 164px;
}

.id-card {
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.content {
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.event-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.left {
  left: 0;
}
.left::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 50px;
  z-index: 1;
  right: 25px;
  border: medium solid rgba(99, 99, 99, 0.7);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(99, 99, 99, 0.7);
}
.right {
  left: 50%;
}
.right::after {
  left: -8px;
}
.right::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 50px;
  left: 33px;
  z-index: 1;
  border: medium solid rgba(99, 99, 99, 0.7);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(99, 99, 99, 0.7) transparent transparent;
}
.event-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 45px;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .timeline::after {
    left: 31px;
  }
  .event-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .event-container::before {
    left: 60px;
    border: medium solid rgba(99, 99, 99, 0.7);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(99, 99, 99, 0.7) transparent transparent;
  }
  .left::after,
  .right::after {
    left: 23px;
  }
  .right {
    left: 0%;
  }
}

.progress {
  height: 25px;
}

.progress-bar {
  border-radius: 20px;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fc-header-toolbar {
  /*
  the calendar will be butting up against the edges,
  but let's scoot in the header's buttons
  */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.task-item {
  background: white;
  padding: 15px 0;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1rem #ccc;
  transition: all 0.2s ease-in-out;
}

.task-item:hover {
  background-color: rgba(235, 235, 235, 0.4);
}

.new-task-bar,
.new-note-bar {
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.btn-outline-overwrite {
  background: white;
  border-left: none;
  border-right: none;
}

.dropdown-btn-overwrite {
  height: 100%;
  border-left: none;
  border-right: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background: white;
}

.fontawesome-as-btn:hover {
  cursor: pointer;
}
.bank-text {
  color: green;
  text-align: right;
}

.expense-text {
  color: red;
  text-align: right;
}

.income-text {
  color: gray;
  text-align: right;
}
@media (max-width: 768px) {
  #github-link span {
    display: none;
  }
  #github-link:after {
    content: " Go to Github";
  }
}

@media (max-width: 768px) {
  #email-link span {
    display: none;
  }
  #email-link:after {
    content: " Email Me";
  }
}
